/* Main CSS for Map */

/*               */
/* Global Styles */
/*               */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	background-color: #222;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

hr {
	background: #D0D7D9;
	height: 1px;
	margin: 20px 0 20px 0;
	border: none;
}

.filter-by {
	border-top: 1px solid white;
	grid-area: filters;
	margin: 0;
	padding: 1rem 0 1rem;
	text-align: center;
}

.header-icon-link {
	color: white;
	margin: 0 0.5rem 0;
}

.header-left {
	align-self: center;
	justify-self: center;
	grid-area: header-left;
}

.header-right {
	align-self: center;
	justify-self: center;
	grid-area: header-right;
}

.infowindow {
	color: black;
	max-width: 350px;
	text-align: center;
}

.infowindow-img {
	border: 1px solid black;
	border-radius: 5px;
}

.main {
	border-top: 1px solid white;
	grid-area: main;
}

#map {
	height: 100%;
}

.place-item {
	border-radius: 5px;
	cursor: pointer;
	margin: 0.75rem 1.5rem 0.75rem;
	padding: 0.75rem;
}

.place-item:hover {
	background-color: lightgreen;
	color: black;
}

.place-item-active {
	background-color: green;
	border-radius: 5px;
}

.place-item-active:hover {
	background-color: green;
	color: white;
}

.place-list {
	border-top: 1px solid white;
	grid-area: places;
	text-align: center;
}

#place-type {
	border: 3px solid white;
	border-radius: 5px;
	overflow-y: auto;
}

#place-type option {
	padding: 10px 20px 10px;
	text-align: center;
}

.text-red {
	color: red;
}

.tips-list {
	margin-right: 15px;
	text-align: left;
}

/*                 */
/* Screen < 576px  */
/*                 */

@media screen and (max-width: 575px) {
	.container {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 50px 50px 250px auto;
		grid-template-areas:
				"header-left"
				"header-right"
				"filters"
				"main";
		height: 100%;
	}

	.place-list {
		display: none;
	}
}

/*                 */
/* Screen >= 576px */
/*                 */

@media screen and (min-width: 576px) {
	.container {
		display: grid;
		grid-template-columns: 225px auto;
		grid-template-rows: 50px 250px auto;
		grid-template-areas:
				"header-left header-right"
				"filters main"
				"places main";
		height: 100%;
	}
}

/*                 */
/* Screen >= 1200px*/
/*                 */

@media screen and (min-width: 1200px) {
	.container {
		display: grid;
		grid-template-columns: 300px auto;
		grid-template-rows: 50px 250px auto;
		grid-template-areas:
				"header-left header-right"
				"filters main"
				"places main";
		height: 100%;
	}
}